# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

Data Science Tools

| Tool        | Description           |
| ------------- |-------------|
| Jupyter Notebook  | Interactive computing |
| TensorFlow  | Machine learning framework |
| scikit-learn  | Machine learning library |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

__Objectives:__
- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries
- Create a markdown cell with a table of Data Science tools

## Author
Tanishq Jain